.card {
  background: white;

  border-radius: 10px;

  padding: 24px;

  box-shadow: 0 8px 24px rgba(15,23,42,.05);
}

.header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}

.header h3 {
  font-size: 22px;

  color: #0F172A;
}

.header span {
  background: #EFF6FF;

  color: #005BAC;

  padding: 8px 14px;

  border-radius: 999px;

  font-size: 14px;

  font-weight: 600;
}